DirectoryIndex index.php
RewriteEngine On #/ Включить редирект

AddDefaultCharset UTF-8
AddType application/x-httpd-php .php .htm .html .gif

RewriteBase /


RewriteRule ^404.html 404.php



Options +FollowSymlinks
RewriteCond   %{REQUEST_FILENAME}       !-d
RewriteCond   %{REQUEST_FILENAME}       !-f
RewriteRule ^(.*) index.php?link=%{QUERY_STRING}

php_value session.save_path "/var/www/admin/data/www/tdfort.ru/public_html/sessions/"

ErrorDocument 404 /404.html




